
{{> back-btn}}

{{#if alert}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong>
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<form action="/adduser" method="POST" class="row g-3 my-3 needs-validation" novalidate>
  {{> user-form}}
</form>